* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:rgb(238, 200, 151);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
  background-image: url("img/logo.png");
  /* background-image: url("img/flag.jpg"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 300px;
}

/* min ve max-width vererek container ın fazla küçülmesini önledik. */
.flag-card {
  height: 300px;
  max-width: 300px;
  min-width: 250px;
}
.flag-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
  /* filter: blur(1px); */
}
.flag-logo {
  transition: transform 0.2s;
  height: 350px;
}

.flag-card:hover .flag-logo {
  transform: scale(0.95);
}
